@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'careers';
@import 'contact';
@import 'admin';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

// Body Style

body {
    background: #F0F0F0;
}

// Nav, Menu Styles

.menu-text {
    font-family: $jomolhari;
    font-size: 1.5rem;
    color: white;
    margin-left: 25px;
}

.logo:hover {
    text-decoration: none;
}

.menu {
    font-family: $roboto;
    cursor: pointer;
}

a {
    color: white;
    cursor: pointer;
}

a:visited {
    color: white;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.careers {
    color: white;
    background: $ippolito-gold !important;
    border: 1px solid white;
    border-radius: 10px;
}

.top-bar {
    background: $ippolito-purple;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    ul {
        background: $ippolito-purple;
    }
}

.drilldown {
    a {
        background: $ippolito-purple;
    }

    a:hover {
        background: rgb(84, 53, 101);
    }

    .js-drilldown-back {
        color: white;
    }
    
    background: $ippolito-purple;
    position: relative;
    z-index: 1;
}

.top-bar-right {
    margin-right: 25px;
}

.title-bar {
    height: 80px;
    background: $ippolito-purple;
}

.title-bar-right {
    margin-right: 25px;
}

// Hero Section

.hero-full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url('../images/bg.jpg') center top no-repeat;
  background-size: cover;

  .middle-content-section {
    text-align: center;
    color: white;
    margin-top: 50px;
    position: initial;
    z-index: 0;

    h1 {
        font-family: $jomolhari;
        margin-top: 30px;
    }

    hr {
        border: 1.5px solid $white;
        width: 50%;
    }

    p {
        font-family: $roboto;
        font-size: 1.125rem;
        max-width: 800px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
        margin: 0 auto;
    }
  }

  .our-brands {
      font-family: $roboto;
      font-size: 24px;
      color: white;
      text-transform: uppercase;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border: 1.5px solid white;
}
.separator::before {
    margin-right: 1em;
}
.separator::after {
    margin-left: 1em;
}

  .top-content-section {
    width: 100%;
  }

  .bottom-content-section {
    padding: 1rem;

    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $white;
    }
  }
}

#logos {
    margin-bottom: 50px;
}

// Alert

.callout {
    // -webkit-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    // -moz-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    // box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    border-top: 10px solid #3D7DC4;
    font-family: $roboto;

}

.alert-content {
    margin: 0 auto;
    max-width: 700px;
}

// Products Section

.products {
    background: #ffffff;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
}

#product-section {
    margin-bottom: 50px;
}

.heading {
    color: $ippolito-purple;
    font-family: $jomolhari;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.icon {
    display: block;
    margin: 0 auto;
}

.services {
    .accordion-item {
        font-size: 1.125rem;
        font-family: $roboto;
    }

    .accordion-title {
        color: $ippolito-purple;
        text-transform: uppercase;
        font-family: $roboto;
        font-size: 1.125rem;
    }
    
    .accordion-item:hover {
        background: $light-gray;
    }

    i {
        margin-right: 14px;
    }

    p {
        text-align: left;
        font-size: 1.125rem;
    }
}

.tabs-title {
	float: none !important;
    display: inline-block;

    a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.tabs {
    text-align:center;
    background: $ippolito-purple;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected='true'] {
    background: transparent;
    color: white;
    text-decoration: underline;
}

#top-tabs {
    p {
        text-align: left;
        font-size: 1.125rem;
    }
}

// Customer Segments

.card {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);

    h2 {
        font-family: $roboto;
        text-align: center;
        color: $ippolito-purple;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    img {
        margin-top: 20px;
        max-height: 100px;
    }

    p {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        margin: 0 auto;
        text-align: left;
        font-size: 1.125rem;
        font-family: $roboto;
    }
}

#customer-segments {
    justify-content: center;
}


// Companies

.company {
    background: #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 912px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);

    .button {
        margin: 0 auto;
        display: block;
        padding: 15px;
        width: 200px;
        font-size: 1.125rem;
    }

    .button:hover {
        background: rgb(105, 67, 129);
    }

    img {
        padding: 0;
        margin: 0;
        float: left;
    }

    p {
        font-size: 1.125rem;
        font-family: $roboto;
        margin-top: 40px;
        text-align: left;
        overflow: hidden;
    }

    .media-object-section {
        height: 456px;
        width: 456px;
        overflow: hidden;
        img {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }
}



.block {
    margin-bottom: 50px;
}

.content-wrapper {
    p {
        padding: 20px;
    }
}

.short {
    margin-top: 80px;
}

.last {
    padding-bottom: 0;
}

// Footer styles

footer {
    height: 300px;
    background: $ippolito-purple;
    margin-top: 50px;

    p {
        color: white;
        text-align: center;
        font-family: $roboto;
        padding-top: 50px;
    }

    .menu {
        margin: 0 auto;
        justify-content: center;
        //width: 480px;
    }

    .icons {
        color: white;
        font-size: 1.5rem;
        margin-top: 20px;

        li a {
            text-decoration: none;
        }
    }
    

    hr {
        border: 2px solid $ippolito-gold;
        width: 30%;
    }
}

// History Section

#history {
    justify-content: center;

    a {
        font-family: $roboto;
    }
    
    a:visited {
        color: $ippolito-purple;
        font-family: $roboto;
    }

    a:hover {
        text-decoration: none;
        font-family: $roboto;
    }
}

.accordion-item {
    font-size: 1.125rem;
}

.accordion-item:hover {
    background: $light-gray;
}

.tabs-title {
    a {
        color: white;
        font-family: $roboto;
        font-size: 1.125rem;
    }

    a:hover {
        text-decoration: underline;
        color: white;
        background: transparent;
    }

}

#tabs {
    justify-content: center;
}

i {
    margin-right: 14px;
}

.history-container {
    background: #ffffff;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
    box-shadow: 0px 0px 20px 0px rgba(208,208,208,1);
}

.date {
    font-family: $jomolhari;
    color: $ippolito-purple;
    font-size: 2rem;
}

.tabs-panel {
    text-align: center;
}

// Media Queries

// iPhone 5
@media screen and (max-width: 320px) {
    .top-bar ul {
        width: 290px !important;
        justify-content: center !important;
        font-size: 0.6rem;
    }

    .is-dropdown-submenu {
        max-width: 200px;
    }

    .middle-content-section {
       height: auto;
        h1 {
            font-size: 1.5rem !important;
        }
    }

    footer p {
        font-size: 0.8rem;
    }

    footer {
        .small {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 39.9375em) {
    .top-bar {
        height: 70px;
        background: $ippolito-purple;
        position: unset;
        font-size: 0.8rem;

        ul {
            width: 350px;
            justify-content: center;
        }
    }

    .nav {
        width: 400px;
        margin: 0 auto;
    }

    .middle-content-section {
        h1 {
            font-size: 2rem;
        }
    }

    .company {
        img {
            border-radius: 15px;
        }

        .button {
            margin-bottom: 25px;
        }

        p {
            padding-top: 0;
            margin-top: 0;
        }

        .media-object-section {
            height: auto;
        }
    }

    .short {
        margin-top: 0;
    }

    .media-object-section {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    #customer-segments {
        h2 {
            font-size: 2rem;
        }
    }

    footer {
        hr {
            width: 70%;
        }
    }

    .top-content-section {
        margin: 0;
    }

    .card {
        height: auto;
    }

    .menu-text {
        font-size: 1rem;
    }

    #careers-header {
        p {
            width: 80%;
        }

        h3 {
            font-size: 0.8rem;
        }
    }

    .hero-full-screen {
        .middle-content-section {
            margin-top: 0;
            position: absolute;
            top: 70px;

            p {
                padding-bottom: 0;
                font-size: 1rem;
            }
        }

        .bottom-content-section {
            padding-bottom: 20px;

            svg {
                width: 2rem;
                height: 2rem;
            }
        }  
    }
}

#logos-small {
    img {
        margin-bottom: 24px;
    }

    hr {
        border: 2px solid $ippolito-purple;
        width: 50%;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .card {
        height: auto;
    }

    #transportation {
        p {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    #transportation {
        p {
            margin-top: 0;
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 1368px) {
    .card {
        height: auto;
    }
}